.risque {
  font-family: "Risque", Avenir;
}

.background2 {
  background-color: #fff8dc;
}

.family2 {
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-family: "Alpha Echo", sans-serif;
}

.title {
  font-size: 4rem;
}

.modalTitles {
  font-size: 3rem;
  font-weight: bold;
}

.viewCart {
  position: absolute;
  left: 1000px;
  top: 200px;
}
