.risque{
    font-family: 'Risque', Avenir;
}

.background2{
    background-color: #FFF8DC;
}

.family1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    /* font-family: 'Alpha Echo', sans-serif;     */
}

.family2{
    /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
    font-family: 'Alpha Echo', sans-serif;    
}

.title{
    font-size: 4rem;
}
.img_jar{
    width: 55%;
    height: auto;
}
.img_cookie{
    width: 15%;
    height: auto;
}