.footer {
    position: absolute;
    margin-top: auto;
    left:0;
    bottom:0;
    width: 100%;
    background-color: #ffc107;
    color: black;
    text-align: center;
}

.footer a {
    color: white;
    font-weight: bold;
    
}
.footer a:hover {
    color: white;
}

.footer p {
    color: white;
    font-weight: bold;
}