.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;

}

.login-button {
    background-color: #ffc00a !important;
    color: black !important;
    font-family: 'Manjari', sans-serif !important;
    font-size: 1.1rem !important;
    font-weight: 700;
    padding: 12px 24px;
    width: 200px;
    border-radius: 8px;
    text-transform: none;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #E3B750 !important; // Slightly darker
    }
}


.login a {
    text-decoration: none;
  }

.login a:hover {
    text-decoration: underline;
  }
