/* mostly copied from Stage2.scss */
.stage5-container {
  padding: 50px 60px;
  padding-bottom: 150px; // Add extra bottom padding to account for footer
  font-family: "Manjari", sans-serif;
  font-weight: 700;

  h1 {
    font-size: 64px;
  }

  p {
    font-size: 24px;
  }

  // mostly copied from .login-button in Login.scss
  button {
    background-color: #ffc00a !important;
    color: black !important;
    font-family: 'Manjari', sans-serif !important;
    font-size: 1.1rem !important;
    font-weight: 700;
    padding: 12px 24px;
    width: 200px;
    border-radius: 8px;
    text-transform: none;
    transition: background-color 0.3s ease;
    //position: absolute;
    //left: 50%;
    //transform: translate(-50%, 9%);
    border: none;
    
    &:hover {
      background-color: #E3B750 !important; // Slightly darker
      cursor: pointer;
    }
}

  .back-button {
    position: fixed;
    bottom: 50px;
    left: 30px;
    background-color: #ffc107;
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);

    &:hover {
      background: #E3B750;
      color: black;
      transform: translateX(4px) scale(1.05);
    }

    svg {
      stroke-width: 3;
    }
  }

  .next-button {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #ffc107;
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);

    &:hover {
      background: #E3B750;
      color: black;
      transform: translateX(4px) scale(1.05);
    }

    svg {
      stroke-width: 3;
    }
  }
}

.stage5-container {
  container-type: size;
  min-height: 100vh; // so that it's not 0
}

.stage5-container .game {
  // TODO: maybe this should be the min of {75% of the height, 100% of the width}
  // note: the size isn't great on a phone in landscape mode (but that might be okay)
  width: 100cqmin;
  height: 100cqmin;
}

// specific to this stage
// TODO: make sure this is the right way to do this
// (in particular whether the units for the width and height are good; how do they show up on differently-sized screens?)
// TODO: maybe use flexbox on the game container
.game {
  // TODO: behave properly under screen resizing, and don't take up too much of the horizontal space on a phone
  // see https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/length#relative_length_units_based_on_viewport
  background-color: lightgray; // not necessarily needed
  position: relative; // this is just so that the elements inside of it can use the position property
  margin: 0 auto;
}

// TODO: make both .zombie and .player in a single class (to not repeat similarities)
.zombie {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: green;
  cursor: pointer; // TODO: this actually depends on the zombie state (so does background-color); so have different classes for each state
  transform: translate(-50%, 50%); // make the `bottom` and `left` positioning attributes specify the center position
}

// TODO: maybe hard-code the position
// TODO: the specified positions are always for the bottom left corner; see how to make it so that they are for the center
.player {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: brown;
  transform: translate(-50%, 50%);
}
