.stage3-container {
    padding: 114px 60px;
    font-family: "Manjari", sans-serif;
    font-weight: 700;

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 24px;
    }

    .back-button {
        position: fixed;
        bottom: 50px;
        left: 30px;
        background-color: #ffc107;
        color: black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);

        &:hover {
            background: #E3B750;
            color: black;
            transform: translateX(4px) scale(1.05);
        }

        svg {
            stroke-width: 3;
        }
    }

    .next-button {
        position: fixed;
        bottom: 50px;
        right: 30px;
        background-color: #ffc107;
        color: black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);

        &:hover {
            background: #E3B750;
            color: black;
            transform: translateX(4px) scale(1.05);
        }

        svg {
            stroke-width: 3;
        }
    }
}

.content-container {
    margin: 16px;
}

.timer {
    width: 90px;
    padding: 10px 0px 5px;
    background-color: #293E44;
    border-radius: 10px;
    font-family: 'Manjari', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.cookie-toppings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 500px;
}

.cookie-topping-display {
    padding: 20px 30px;
    border: 4px solid #F3C760;
    border-radius: 15px;
    background-color: #fffaed;
}

.done-button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}

.done-button {
    padding: 10px 15px 5px;
    border: 0;
    border-radius: 6px;
    background-color: #F3C760;
    font-family: 'Manjari', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    cursor: pointer;
}